.card
{
    &-projects
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        @include tablet() {
            grid-template-columns: repeat(3, 1fr);
        }
        @include desktop() {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}